body {
	background-color: white; 
 	align-content: left;
	font-style: helvetica; 
	font-size: 20px;

}
h1 {
	font-size: 60px;
	font-weight: bold;
}

h2 {
	font-size: 40px;
	font-weight: bold;
}


 




